.EditarDadosUser{
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    background-color: #FFFFFF;
    white-space: normal;
    display: table;
    color: #000000;
    height: auto;
    width: auto;
    cursor: auto;
    border: thin none #FFFFFF;
    }
    
    input[name=morada], [name=País], [name=nome], [name=NIF], [name=IBAN], [name=emailalt] {
        width: 500px;
        padding: 10px;
        color: black;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: none;
        background-color: #fbba28;
        align-content: flex-start
    }
    input[name=NewPassword], [name=RepeatNewPassword], [name=localidade], [name=pessoacontacto], [name=tlm] {
        width: 235px;
        padding: 10px;
        color: black;
        margin-right: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: none;
        background-color: #fbba28;
    }
   
input[name=cp1]{
    width: 135px;
    padding: 10px;
    color: black;
    margin-right: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
    background-color: #fbba28;
}
input[name=cp2]{
    width: 75px;
    padding: 10px;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
    background-color: #fbba28;
}
h5{
    color:  rgb(58, 58, 58);
}
input[type=submit] {
    color: #fbba28;
    width: 240px;
    padding: 10px;
    margin-left: 120px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
    background-color: black;
}    