.orFiltros{
    position: fixed;
    top: 82px;
    z-index: 90;
    margin: 0 0;
    padding: 10px 20px;
    width: 250px;
    background-color: #fbba28;
}
.orContentor{
    margin: 0 20px 10px 310px;
}

/*--------Lista dos produtos--------*/
.orProd{
    height: 250px;
    border-bottom: 4px #fbba28 solid;
}

.orProd h3{
    margin: 2px 5px;
    font-family:Roboto,sans-serif;
    text-align: center;
}
.orProd h4{
    margin: 2px 5px;
    font-family:Roboto,sans-serif;
    text-align: center;
}
.orProd h5{
    margin: 1px 5px;
    font-family:Roboto,sans-serif;
}
.nonStrong{
    font-weight: normal;    
}
.yellowBGcolor{
    background-color: #fbba28
}

.orProd{
    margin: 0;
    border: 4px #fbba28 solid;
}