/*Barra de pesquisa*/
#PesquiarImg{
    position: fixed;
    right: 1%;
    top: 30px;
    z-index: 105;
    max-height: 40px;
}
.blocoDePesquisa{
    position: fixed;
    display: none;
    top: 82px;
    z-index: 90; 
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #fbba28;
    padding-top: 10px;
}
.linhaDePesquisa{    
    margin-left: 25%;
    z-index: 100;
    background-color: #dddcd8;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   font-family:Roboto,sans-serif;
   font-size: 14pt;
   line-height: 18pt;
   width: 50%;    
 }
 #fecharImg{
    display: inline;
    margin-bottom: -5px;
    z-index: 105;
    max-height: 25px;
}

.lstEnc{
    margin: 100px 10% 0 10%;
}
.itens img{
    max-height: 50px;
}
input[type=submit]{
    background-color: #fbba28;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 22pt;
    border-color: #fbba28;
    font-family:Roboto,sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: black;;
}

.itens td{
    padding: 0;
    border: 1px solid #fbba28;
    text-align: center;
}
.head th{
    background: #fbba28;
    line-height: 22pt;
}
.orProd input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.orSize{
    border: none;
    width: 45px;
    line-height: 22pt;
    text-align: center;
    font-family:Roboto,sans-serif;
    vertical-align: middle;
}
h5{    
    line-height: 22pt;
    text-align: center;
    font-family:Roboto,sans-serif;
}

.fimEnc input[name=nrEnc]{
    width: 180px;
    padding: 10px;
    margin-left: 10px;
    color: black;
    line-height: 17pt;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
    background-color: #fbba28;
}
.fimEnc input[name=data]{
    width: 180px;
    padding: 10px;
    margin-left: 10px;
    color: black;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
    background-color: #fbba28;
}
.fimEnc input[type=submit]{
    background-color: #fbba28;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 28pt;
    border-color: #fbba28;
    font-family:Roboto,sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: black;;
}

.lstEnc{
    margin: 100px 20% 0 20%;
    text-align: center;
}