/*--------Lista dos produtos--------*/
.lstProdutos{
    margin: 10% 10% 0;
}

.orProductList td {    
    margin: 0;
    padding: 0 20px;
    border-bottom: 1px solid darkgray;
}
.orProd img{
    height: 15%;
}
.orProd h3{
    margin: 2px 12px;
    font-family:Roboto,sans-serif;
    text-align: center;
}
.orProd h4{
    margin: 2px 5px;
    font-family:Roboto,sans-serif;
    text-align: left;
}
.orProd h5{
    margin: 1px 5px;
    font-family:Roboto,sans-serif;
    text-align: center;
}
.orProd button{
    margin-top: 20px; 
    background-color: #fbba28;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 22pt;
    border-color: #fbba28;
    font-family:Roboto,sans-serif;
    font-size: 12pt;
    font-weight: bold;
}
.nonStrong{
    font-weight: normal;    
}
.yellowBGcolorDes{
    width: 100%;
    background-color: #fbba28;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 22pt;
}
.yellowBGcolorPr{
    width: 70%;
    background-color: #fbba28;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 22pt;
}
