/*--------Lista dos produtos--------*/
.lstProdutos{
    margin: 100px 10% 0 10%;
}
.headePage{
    width: 100%;
}
.headePage input[type=submit]{
    background:url('images/add.png');
    width: 48px;
    height: 48px;
}

.orProductList td {    
    margin: 0;
    padding: 0 20px;
}
.orProd img{
    height: 15%;
}
.orProd h3{
    margin: 2px 12px;
    font-family:Roboto,sans-serif;
    text-align: center;
}
.orProd h4{
    margin: 2px 5px;
    font-family:Roboto,sans-serif;
    text-align: left;
}
.orProd h5{
    margin: 1px 5px;
    font-family:Roboto,sans-serif;
    text-align: center;
}
.orProd input[type=submit]{
    margin-top: 20px; 
    background-color: #fbba28;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 22pt;
    border-color: #fbba28;
    font-family:Roboto,sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: black;
}

.delProduto input[type=submit]{
    background:url('images/dell.png');
    width: 30px;
    
}
.orProd button{
    margin-top: 20px; 
    background-color: #fbba28;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 22pt;
    border-color: #fbba28;
    font-family:Roboto,sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: black;
}
.yellowBGcolorDes{
    width: 100%;
    background-color: #fbba28;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 22pt;
}
.yellowBGcolorPr{
    width: 70%;
    background-color: #fbba28;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 22pt;
}


/*Barra de pesquisa*/
#PesquiarImg{
    position: fixed;
    right: 1%;
    top: 30px;
    z-index: 105;
    max-height: 40px;
}
.blocoDePesquisa{
    position: fixed;
    display: none;
    top: 82px;
    z-index: 90; 
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #fbba28;
    padding-top: 10px;
}
.linhaDePesquisa{    
    margin-left: 25%;
    z-index: 100;
    background-color: #dddcd8;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   font-family:Roboto,sans-serif;
   font-size: 14pt;
   line-height: 18pt;
   width: 50%;    
 }
 #fecharImg{
    display: inline;
    margin-bottom: -5px;
    z-index: 105;
    max-height: 25px;
}
/*--------Encomendar--------*/
.tmnForm{
    display: none;
}
.tamanhos form{
    text-align: center;
    margin-top: -30px;
}
   
.tamanhos td{
    margin: -10px;
    padding: 0 20px;
    border-bottom: 1px solid darkgray;
}

.ordHide{
    height: 30px;
    margin-bottom: -10px;
    margin-left: 20px;
}
.tamanhos input[type=submit]{
    margin-top: 20px;
    margin-left: 30px; 
    background-color: #fbba28;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 22pt;
    border-color: #fbba28;
    font-family:Roboto,sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: black;
}

/*--------Edição do Produto--------*/

.alterProduto{
    margin: 150px 0 0 25%;
    width: auto;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
    display: table;
    text-align: center;
}
#alterPr{
    margin-top: 20px;
}
input[name=refPr], [name=pricePr]{
    width: 120px;
    padding: 10px;
    color: black;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
    background-color: #fbba28;
}
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[name=nomePr]{
    width: 230px;
    padding: 10px;
    color: black;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
    background-color: #fbba28;
}
input[name=descPr]{    
    width: 379px;
    padding: 10px;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
    background-color: #fbba28;
}
input[type="file"]{
    display: none;
}
.uploadFile{
    color: #fbba28;
    padding: 11px 32px 11px 32px;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
    background-color: black; 
}
.alterProduto input[type=submit]{
    color: #fbba28;
    width: 150px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
    background-color: black;    
}



